.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    padding-top: 1em;
    padding-bottom: 1em;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.Note {
    height: 1.5em;
    padding: 0.25em;
    margin: 0.25em;
}

.Note-Selected {
    background-color: green;
}

.Note:hover, .Note-Selected:hover {
    background-color: #bbff0090;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
/*    min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;    
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    white-space: nowrap;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

.pianorole {
    display: flex;
    width: 100%;
    border: 0.1em black;
    border-style: solid;
}
.whitekey, .blackkey {
    display: block;
    width: 2em;
    height: 4em;
    text-align: center;
    border-style: solid;
}
.whitekey {
    background-color: white;
    border-color: bisque;       
}
.whitekey:hover {
    background-color: bisque;
}
.blackkey {
    background-color: black;    
    border-color: #424242;
}
.blackkey:hover {
    background-color: #424242;
}




@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}